{% extends "base.html.twig" %}
{% block title 'Acceuil' %}
{% block body %}


    <div class="container text-center" style="background-color: white; border: solid 1px silver; border-radius: 5px; padding: 10px">
        <h2>Bienvenue à RoomApp 2.0</h2>
        <span style="font-size: large">Cette application vous permet de gérer l'inscription des étudiants et l'allocation de chambres aux étudiants.</span>
     <br>   <span style="font-size: large">Le menu est divisé en deux parties: l'une pour la gestion des étudiants et l'autre pour la gestion des chambres.</span>

    </div>





{% endblock %}